@CHARSET "UTF-8";
#top{

}
#operate{
padding: 3px 8px;
clear: both;
background-color: #E9F0F4;
}
#middle{
	
}
#bottom{
	
}
#listTable th {
height: 24px;
line-height: 24px;
text-align: left;
color: #5B5B5B;
font-weight: normal;
border-top: solid 1px #D8DEEA;
border-bottom: solid 1px #C6C9CA;
border-right: solid 1px #C6C9CA;
background: url(../images/admin_bg.gif) 0px -60px repeat-x;
padding-left: 10px;
}
#listTable .sort {
height: 24px;
line-height: 24px;
display: block;
outline: none;
font-size: 12px;
font-family: "Microsoft YaHei";
color: #666;
}
#listTable .c1{
width: 100px;	
}
#listTable .c2{
width: 200px;	
}
#listTable .c3{
width: 150px;	
}
#listTable .c4{
width: 100px;	
}
#listTable .c5{
width: 150px;	
}
#listTable .c5{
background-color: #FFF8E4;
}
#listTable td.c5 a {
	color: #369;
}
#listTable td.c5 a:hover {
color: #F60;
text-decoration: none;
}
#bottom{

height: 30px;
width: 1083px;
line-height: 30px;
padding: 3px 8px;
clear: both;
border-bottom: 1px solid #D8DEEA;
background-color: #E9F0F4;
position: fixed;
bottom: 0px;
}
#bottom li{
line-height: 18px;
float: left;
padding: 2px 5px;
margin-left: 5px;
cursor: pointer;
border: 1px solid #CCC;
}